<!DOCTYPE html>
<html>
<head>
	<title>LOGIN</title>
</head>
<body>


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<p>Para acceder a la pagina principal de Skateez debe iniciar sesión</p>
<h2>Iniciar sesión</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
</form>

<hr />
<a href="/skateez/signup/">Registrar usuario</a>
{% endblock %}







</body>
</html>