<!DOCTYPE html>
<html>
<head>
	<title>Rodamientos</title>
</head>
<body>	
		{% block barra_busqueda %}
	<div class="barra">
		<form method="get">
			<input type="text" placeholder="Busca..." name="buscar">
			<span class="input_list">
				<button type="submit">
					Buscar
				</button>
			</span>
		</form>
	</div>
	{% endblock barra_busqueda %}

		{% block content %}
	    <h2>Rodamientoss</h2>
	    {% if Rodamientos_list %}
	    <ul>
	        {% for Rodamientos in object_list %}

	            <li><a href="{{ Rodamientos.id }}/"> {{ Rodamientos.nombre }}, {{ Rodamientos.medida }} </a></li>
	    	
	    	{% endfor %}
	    </ul>
		{% else %}	

		<p>No hay Rodamientoss</p>
		{% endif %}

		{% endblock %}

</body>
</html>


