<!DOCTYPE html>
<html>
<head>
	<title>Ruedas</title>
</head>
<body>	
		{% block barra_busqueda %}
	<div class="barra">
		<form method="get">
			<input type="text" placeholder="Busca..." name="buscar">
			<span class="input_list">
				<button type="submit">
					Buscar
				</button>
			</span>
		</form>
	</div>
	{% endblock barra_busqueda %}

		{% block content %}
	    <h2>Ruedass</h2>
	    {% if Ruedas_list %}
	    <ul>
	        {% for Ruedas in object_list %}

	            <li><a href="{{ Ruedas.id }}/"> {{ Ruedas.nombre }}, {{ Ruedas.medida }} </a></li>
	    	
	    	{% endfor %}
	    </ul>
		{% else %}	

		<p>No hay Ruedass</p>
		{% endif %}

		{% endblock %}

</body>
</html>


